---
---

<section class="text-center mb-10">
  <h1 class="text-4xl font-heading text-periwinkle sm:text-5xl drop-shadow-sm">
    Hi, I’m Ritu.
  </h1>
  <p class="mt-4 text-lg text-gray-600 font-body">
    Apps / Games I am working on these days:
  </p>
  <div class="mt-6 text-sm text-goldenDaisy font-semibold tracking-wide sentencecase">
    <ul class="list-none">
      <li>Loves me/ loves me not</li>
      <li>Rock paper scissors</li>
      <li>Fortune cookie</li>
    </ul>
  </div>
</section>

<!--
<ul class="list-disc list-inside text-left">
  <li>Exploring the buffet that is AI-driven tools</li>
  <li>Writing about my journey in tech</li>
  <li>Sharing insights on emotional intelligence in software</li>
  <li>Advocating for inclusive tech communities</li>
  <li>Exploring the intersection of tech and mental health</li>
  <li>Creating accessible and user-friendly interfaces</li>
  <li>Continuing to learn and grow in the ever-evolving tech landscape</li>
  <li>Fostering a culture of kindness and empathy in tech</li>
</ul>
-->